html {
  font-size: 125%;
  scroll-behavior: smooth;
  overflow: hidden;
}

body,
button {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #1a1a1a;
}

body {
  height: 100vh;
  max-width: 800px;
  min-width: 325px;

  padding: 0 15px;
  margin: 0 auto;

  overflow: scroll;
  align-items: center;
  box-sizing: border-box;

  background: linear-gradient(81deg, #d9f3f3 0%, #f2ebda 100%);
  background-size: 400% 400%;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

body,
.controls,
.progressions {
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
}

h1,
h2 {
  text-align: center;
  text-transform: lowercase;
}

h1 {
  position: relative;
}

h1 .dotA,
h1 .dotB {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 25px;
  display: block;
  top: 26px;
}

h1 .dotA {
  left: 33px;
  background-color: #d69916;
}

h1 .dotB {
  right: 33px;
  background-color: #22c1c3ba;
}

h2 {
  font-size: 1rem;
  margin-bottom: 30px;
  padding: 0 10px;
}

.controls {
  max-width: 1200px;
  width: 100%;
}

.sliders {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sliders > div {
  display: flex;
  flex-direction: column;
  background: #ffffff5e;
  padding: 10px;
  border-radius: 25px;
  width: 40%;
  margin-bottom: 15px;
}

.sliders h3 {
  font-size: 1rem;
}

.sliders label {
  font-size: 26px;
  margin-bottom: 5px;
}

label {
  font-size: 20px;
}

input {
  cursor: pointer;
}

.progressions {
  justify-content: center;
  align-items: start;
  margin: 0 auto 30px;

  padding: 5px 20px 15px;
  background: #ffffff5e;
  border-radius: 25px;
}

.progressions h3 {
  margin: 18px 0;
  text-align: center;
}

.progressions form {
  width: 100%;
}

.progressions .radioContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

.progressions .radioContainer {
  margin-bottom: 10px;
}

.progressions input {
  margin: 0 20px 0 0;
}

.playContainer {
  margin: 0 auto;
}

.play {
  cursor: pointer;
  font-size: 1.5rem;
  padding: 15px 35px;
  border-radius: 25px;
  border: 2.5px dashed cadetblue;
  background: #ffffff5e;
}

.play.playing {
  padding: 16.5px 33.93px;
  background: linear-gradient(45deg, #66b3ff99, #ffc34d99);
}

.drone,
.midi {
  padding: 14px 12px;
  background: #ffffff5e;
  border-radius: 25px;
  box-sizing: border-box;
}

.drone label,
.midi label {
  display: block;
  text-align: center;
}

.play,
.drone,
.midi {
  height: 90px;
  width: 150px;
}

.drone {
  margin: 30px auto 0;
}

.midi {
  margin: 30px auto 140px;
}

/* inputs */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 25px;
  border: 1px solid cadetblue;
  background: linear-gradient(45deg, #2ef2b1, #0cc3aa);
  outline: none;
  opacity: 0.8;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border: 1.5px solid #1a1a1a;
  border-radius: 50%;
  background: linear-gradient(45deg, #66b3ff, #ffc34d);
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border: 1.5px solid #1a1a1a;
  border-radius: 50%;
  background: linear-gradient(45deg, #66b3ff, #ffc34d);
  cursor: pointer;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  margin: 0 30px 0 0;
  width: 23px;
  height: 23px;
  border: 1.5px solid #1a1a1a;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.25s transform ease-in;
  background: linear-gradient(45deg, #2ef2b1, #0cc3aa);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 8px auto 0;
  font: inherit;
  width: 23px;
  height: 23px;
  border: 1.5px solid #1a1a1a;
  border-radius: 25px;
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 20px;
  height: 20px;
  transform: scale(0);
  transition: 0.25s transform ease-in;
  border-radius: 25px;
}

.drone input[type="checkbox"]::before {
  background: linear-gradient(45deg, #f56262, #ffc34d, #9dee9d);
}

.midi input[type="checkbox"]::before {
  background: linear-gradient(45deg, #6284f5, #884dff, #ee9da5);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

@media (max-width: 560px) {
  h1 .dotA,
  h1 .dotB {
    top: 97px;
  }
}

@media (max-width: 470px) {
  h1 .dotA,
  h1 .dotB {
    top: 68px;
  }
  h1 .dotA {
    left: 100px;
  }
  h1 .dotB {
    right: 100px;
  }
}

@media (max-width: 440px) {
  h1 .dotA,
  h1 .dotB {
    top: 26px;
  }
  h1 .dotA {
    left: 0px;
  }
  h1 .dotB {
    right: 0px;
  }
}

@media (max-width: 380px) {
  h1 .dotA,
  h1 .dotB {
    top: 85px;
  }
  .progressions {
    box-sizing: border-box;
    width: 96%;
  }
}

@media (hover: hover) {
  .play:hover {
    background: linear-gradient(45deg, #66b3ff99, #ffc34d99);
  }
}
